<title>Shared To-Do App</title>
<div class="container">
  <div class="row">
    <div class="span4">

      <h1>Shared To-Do App</h1>
      <hr>

      <h3>All your to-dos here</h3>

      <%= form_tag("/todos/add", :method => "post") do %>
        <%= text_field_tag(:todo_text) %>
        <%= submit_tag("Add todo", :class => "btn") %>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" >OK</button>
          <strong><%= flash[:error] %></strong>
        </div>
      <% end %>

      <% if flash[:success] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" >OK</button>
          <strong><%= flash[:success] %></strong>
        </div>
      <% end %>

      <div class="well">
 
        <%= form_tag("/todos/complete/", :method => "post") do %>
          <ul style="list-style-type:none;")>
          <% @todo_items.each do |t| %>
            <% if t.completed == true %>
              <li style="color:grey;"><%= check_box_tag "todos_checkbox[]", t.id %> <strike><%=t.todo_item %></strike> </li>
            <% else %>
              <li> <%= check_box_tag "todos_checkbox[]", t.id %> <%= t.todo_item %> </li>  
            <% end %>
          <% end %>
          </ul>
       <% end %>
        <%= submit_tag("Complete Todos", :class => "btn btn-success") %>
      </div> <!-- well -->
    </div> <!-- span4 -->
  </div> <!-- row -->

<%= link_to "Delete last todo", delete_path, :method=>"delete" %>

</div> <!-- container -->
